discord.py
python-dotenv
flask
requests
aiohttp

SQLAlchemy
psycopg2-binary
alembic

aiosmtplib
aioimaplib
cryptography

alembic

torch
transformers
faiss-cpu
#faiss-gpu
matplotlib
openai
faster-whisper
pandas
